<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html>
<head>
    <title th:text="${configurations.get('websiteName')}+' | '+${pageName}">更新历史</title>
    <meta name="description" th:content="${configurations.get('websiteDescription')}">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" th:href="@{${configurations.get('websiteIcon')}}"/>
    <link rel="bookmark"th:href="@{${configurations.get('websiteIcon')}}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/X-admin/lib/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/blog/amaze/css/base.css}">

</head>

<body>
<div th:replace="blog/amaze/header::nav-fragment"></div>
<div th:replace="blog/amaze/header::header-fragment"></div>

<h1 class="subheading" style="margin-left: 32px;margin-bottom: 16px">更新历史记录</h1>

<!--流加载数据库记录-->
<div id="revision-flow" class="layui-panel" style="margin-left: 64px;margin-right: 80px">

</div>


<footer th:replace="blog/amaze/footer::footer-fragment"></footer>
<script th:src="@{/blog/plugins/jquery/jquery.min.js}"></script>
<script src="/X-admin/editormd/lib/marked.min.js"></script>
<script src="/X-admin/editormd/lib/prettify.min.js"></script>
<script src="/X-admin/editormd/lib/raphael.min.js"></script>
<script src="/X-admin/editormd/lib/underscore.min.js"></script>
<script src="/X-admin/editormd/lib/sequence-diagram.min.js"></script>
<script src="/X-admin/editormd/lib/flowchart.min.js"></script>
<script src="/X-admin/editormd/lib/jquery.flowchart.min.js"></script>
<script src="/X-admin/editormd/src/editormd.js"></script>
<script th:src="@{/blog/plugins/comment/valid.js}"></script>
<script th:src="@{/X-admin/lib/layui/layui.all.js}"></script>
<script th:src="@{/X-admin/lib/layui/js/layui.js}"></script>
<script th:inline="javascript">
    layui.use(function () {
        var flow = layui.flow;
        var revisionInfoList = [[${revisionInfoList}]];
        var pageSingleSize = [[${pageSingleSize}]];
        var pageTotalSize = Math.ceil(revisionInfoList.length / pageSingleSize); // 计算总页数

        flow.load({
            elem: '#revision-flow',
            isAuto: true,

            done: function (page, next) {
                setTimeout(function () {
                    var start = (page - 1) * pageSingleSize; // 计算当前页数据的起始下标
                    var end = start + pageSingleSize; // 计算当前页数据的结束下标
                    var pageData = revisionInfoList.slice(start, end); // 获取当前页数据
                    var lis = [];
                    for (var i = 0; i < pageData.length; i++) {
                        var datetime = pageData[i].revisionDatetime;
                        lis.push(
                            '<div style="padding: 32px;">',
                            '  <fieldset class="layui-elem-field layui-field-title">',
                            '    <legend>' + datetime + '</legend>',
                            '  </fieldset>',
                            '  <article id="test-markdown-view' + (start + i + 1) + '"></article>',
                            '</div>'
                        );
                    }
                    next(lis.join(''), page < pageTotalSize);
                    // 在next回调之后再填充article内容
                    // 这样才能确保所有的 DOM 元素都已经被添加到了文档中
                    for (var i = 0; i < pageSingleSize; i++) {
                        var content = revisionInfoList[start + i].revisionContent;
                        editormd.markdownToHTML("test-markdown-view" + (start + i + 1), {
                            htmlDecode: "style,script,iframe",
                            emoji: true,
                            taskList: true,
                            tex: true,
                            flowChart: true,
                            sequenceDiagram: true,
                            markdown: content
                        });
                    }
                }, 520);
            }
        });
    });
</script>

</body>
</html>
