<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html>
<head>
    <title th:text="${configurations.get('websiteName')}+' | '+${pageName}">更新历史</title>
    <meta name="description" th:content="${configurations.get('websiteDescription')}">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" th:href="@{${configurations.get('websiteIcon')}}"/>
    <link rel="bookmark" th:href="@{${configurations.get('websiteIcon')}}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/X-admin/lib/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/blog/amaze/css/base.css}">

    <style>
        img {
            max-width: 45%;
            height: auto;
            padding: 8px;
            margin: 8px;
        }

        .bigImg {
            position: absolute;
            top: 50%;
            left: 50%;
            /*图片向左移动自身宽度的50%, 向上移动自身高度的50%。*/
            transform: translate(-50%, -50%);
        }

        /*遮罩层*/
        .opacityBottom {
            width: 100%;
            height: 100%;
            position: fixed;
            background: rgba(0, 0, 0, 0.8);
            z-index: 9999;
            top: 0;
            left: 0;
        }
        .enlarge {
            cursor: zoom-in;
        }
    </style>
</head>

<body>
<div th:replace="blog/amaze/header::nav-fragment"></div>
<header th:fragment="header-fragment" class="intro-header"
        th:style="'background-image:url(' + @{/blog/amaze/images/headers/} + ${headerImg} + ');' + '-webkit-mask: no-repeat center / contain;
    -webkit-mask: no-repeat center / contain;
    -webkit-mask-image: url(/blog/amaze/images/wave.svg);
    -webkit-mask-size: cover;
    -webkit-mask-position: top;
'">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1 th:text="作品集"></h1>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="am-g am-g-fixed blog-fixed">
    <div class="am-u-lg-8 am-u-sm-12">

        <fieldset class="layui-elem-field">
            <legend>作者介绍</legend>
            <div class="layui-field-box">
                <p style="text-indent:2em">我是Stefano，一个充满创造力的年轻人。IT是我擅长的领域，我时刻关注着最新的技术趋势和前沿，不断探索新的技术应用和解决方案。我喜欢将自己所学所得与他人分享，与他人交流和讨论技术问题，以期提供更多帮助和启发。</p>

                <p style="text-indent:2em">除了技术，我还热衷于创作音乐。从初中开始，我就踏上了独立音乐创作之路。我喜欢借音乐来表达我的情感和思想的方式，每一首作品都充满着我自己的特色和风格。对我而言，音乐是我生活中不可或缺的一部分。如果你感兴趣，可以访问我的<a href="https://music.163.com/artist/album?id=1185058" target="_blank" style="text-decoration: underline;">网易云音乐主页</a>。</p>

                <p style="text-indent:2em">我的闲暇时间不全是投入在音乐中，玩游戏也是我放松和娱乐的方式之一。我热爱“硬核”游戏，享受胜利的快感，也能够锻炼我的思考能力和决策能力。</p>

                <p style="text-indent:2em">我的职业和人生中，我希望将我热爱的事物和我的技能结合起来，带来更多的创新和美好。无论是在技术领域还是音乐创作方面，我定会追求卓越！</p>
            </div>
        </fieldset>




        <section>
            <div class="sidebar-header">
                <span class="sidebar-header-title">
                    摄影作品
                </span>
            </div>
            <div>
                <div class="layui-panel">
                    <div style="padding: 32px;display: block;text-align: center;">
<!--                        <img class="enlarge" src="gallery/photos/flows.jpg">-->
<!--                        <img class="enlarge" src="gallery/photos/flows.jpg">-->
<!--                        <img class="enlarge" src="gallery/photos/flows.jpg">-->
                        <div id="gallery"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <div th:fragment="side-fragment" class="am-u-lg-4 am-u-sm-12 am-u-lg-offset-0 am-u-sm-offset-0 sidebar-container">
        <section>
            <section>
                <div class="sidebar-header">
                <span class="sidebar-header-title">
                    原创音乐
                </span>
                </div>
                <div>
                    <blockquote class="layui-elem-quote layui-quote-nm">
                        作者主要擅长纯音乐的创作，音乐风格涵盖爵士、后摇和新世纪等多种类型；尤其善于运用传统乐器进行配器创作。
                    </blockquote>
                    <p>由作者精心挑选的10首最满意的音乐作品，请欣赏：</p>
                    <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=340 height=450
                            src="//music.163.com/outchain/player?type=0&id=8405948278&auto=1&height=430"></iframe>
                    <hr class="layui-border-black">
                    <p>影视配乐练习作品：</p>
                    <iframe width=400 height=169 src="//player.bilibili.com/player.html?aid=430914163&bvid=BV1SG411g7nj&cid=843251207&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
                </div>
            </section>

            <section>
                <div class="sidebar-header">
                <span class="sidebar-header-title">
                    英文文学作品
                </span>
                </div>
                <div>
                    <blockquote class="layui-elem-quote layui-quote-nm">
                        闲暇之余，作者也喜欢创作英文文学作品，主要涉及诗歌和散文。也翻译过一些中文文学作品。
                    </blockquote>
                    <main class="sidebar-lists">
                        <ul>
                            <li class="sidebar-list-item"><a class="tag tooltipped tooltipped-n"
                                                             href="/blog/20">Two Generations(两代人)</a></li>
                            <li class="sidebar-list-item"><a class="tag tooltipped tooltipped-n"
                                                             href="/blog/15">You are a poem.</a></li>
                            <li class="sidebar-list-item"><a class="tag tooltipped tooltipped-n"
                                                             href="/blog/17">They Burn Out and Fall Down</a></li>
                            <li class="sidebar-list-item"><a class="tag tooltipped tooltipped-n"
                                                             href="/category/英文作品">更多...</a></li>
                        </ul>
                    </main>
                </div>
            </section>

        </section>
    </div>
</div>


<footer th:replace="blog/amaze/footer::footer-fragment"></footer>
<script th:src="@{/blog/plugins/jquery/jquery.min.js}"></script>
<script src="/X-admin/editormd/lib/marked.min.js"></script>
<script src="/X-admin/editormd/lib/prettify.min.js"></script>
<script src="/X-admin/editormd/lib/raphael.min.js"></script>
<script src="/X-admin/editormd/lib/underscore.min.js"></script>
<script src="/X-admin/editormd/lib/sequence-diagram.min.js"></script>
<script src="/X-admin/editormd/lib/flowchart.min.js"></script>
<script src="/X-admin/editormd/lib/jquery.flowchart.min.js"></script>
<script src="/X-admin/editormd/src/editormd.js"></script>
<script th:src="@{/blog/plugins/comment/valid.js}"></script>
<script th:src="@{/X-admin/lib/layui/layui.all.js}"></script>
<script th:src="@{/X-admin/lib/layui/js/layui.js}"></script>


<script>
    $(document).ready(function() {
        var galleryDiv = $('#gallery');

        //单击图片放大
        function toBigImg() {
            $(".opacityBottom").addClass("opacityBottom");//添加遮罩层
            $(".opacityBottom").show();
            $("html,body").addClass("none-scroll");//下层不可滑动
            $(".bigImg").addClass("bigImg");//添加图片样式
            $(".opacityBottom").click(function () {//点击关闭
                $("html,body").removeClass("none-scroll");
                $(".opacityBottom").remove();
            });
        }

        //请求后端获取图片列表
        function getPhotoList() {
            $.ajax({
                url: 'gallery/photos',
                dataType: 'json',
                success: function(data) {
                    $.each(data, function(i, val) {
                        var img = $('<img>').attr('src', 'gallery/photos/' + val).addClass('enlarge');
                        galleryDiv.append(img);
                    });

                    $('.enlarge').click(function () {
                        //获取图片路径
                        var imgsrc = $(this).attr("src");
                        var opacityBottom = '<div class="opacityBottom" style = "display:none"><img class="bigImg" src="' + imgsrc + '"></div>';
                        $(document.body).append(opacityBottom);
                        toBigImg();
                    });
                }
            });
        }

        getPhotoList();
    });
</script>
</body>
</html>
